<app-navigation></app-navigation>

<div class="row">
  <h2>What would be the date of the intervention?</h2>

  <mat-card class="calendar-container">
    <mat-calendar [selected]="selectedDate" (selectedChange)="selectedDate = $event; status = 'unknown'"></mat-calendar>
  </mat-card>
</div>

<div class="row row-darker">
  <h2>For what duration of cleaning?</h2>

  <mat-button-toggle-group [ngModel]="duration" (ngModelChange)="setDuration($event)" aria-label="Duration" color="primary">
    <mat-button-toggle *ngFor="let duration of durations" [value]="duration">{{ duration }}h</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="row">
  <h2>From which hour ? {{ formatTime(startHour) }}</h2>

  {{ formatTime(getMinStartHour()) }}
  <mat-slider [min]="getMinStartHour()" [max]="getMaxStartHour()" step="0.5" [ngModel]="startHour" (ngModelChange)="startHour = $event; status = 'unknown'" color="primary"></mat-slider>
  {{ formatTime(getMaxStartHour()) }}
</div>

<div class="row row-darker">
  <div *ngIf="!selectedDate" class="error">Please select a date.</div>
  <div *ngIf="status === 'no_proposal'" class="error">No employee is available at this moment.</div>
  <button mat-flat-button *ngIf="selectedDate && status !== 'no_proposal'" color="primary" (click)="submit()">Find employees</button>
</div>
